# Node modules
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build files
build/
.cache/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db
